@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}


/* Header */


header{
  height: 10vh;
    display: flex;
    justify-content: space-between;   
    padding: 0 3rem ;
    align-items: center;
}

header ul{
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li{
  margin: 0 8px ;
  position: relative;
}

header ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: 0.5s ease;
  font-weight: 600;
}

header ul li a:hover{
  color: rgb(29 136 237);
}


header .login-done h1 {
  color: black;
}

header .log-out {
  display: flex;
}

header .log-in {
  display: flex;
  justify-content: center;
}

header .log-in button a {
  text-decoration: none;
  color: white;
}





header .log-in button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

header button a{
  display: flex;
  justify-content: center;
  align-items: center;
}

header button a svg{
  margin-left: 5px;
}

header .log-in a button:hover {
  background-color: #555;
}



header .log-out {
  display: flex;
  align-items: center;
}

header .log-out h1 {
  margin-right: 10px;
}

header .log-out button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

header .log-out button:hover {
  background-color: #555;
}


header .logo img {
  width: 10%;
}



/* Home */


.homepage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 8rem;
}

.homepage .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
}


.homepage .home h1 {
  font-size: 3.2rem;
  margin: 1rem 0;
  color: #13287e;
  text-align: start;
  width: 70%;
}



.homepage .home p {
  font-size: 1.2rem;
  color: black;
  margin: 1rem 0;
  text-align: justify;
  width: 90%;
}

.homepage button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  width: 25%;
  margin: 3rem auto;

}

.homepage button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.homepage button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.homepage button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 0px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.homepage button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}



@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.homepage .home button a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.homepage .images {
  background-image: url("./images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* register */

/* register.css */

.register , .login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top:  5rem;
}

.register .register-box , .login .login-box {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register .register-box p , .login .login-box p{
  font-size: 1.5rem;
  font-weight: 500;
}

.register .register-box form , .login .login-box form {
  display: flex;
  flex-direction: column;
}

.register .register-box input , .login .login-box input {
  padding: 10px;
  margin-bottom: 10px;
}

.register .register-box button , .login .login-box button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.register .register-box button:hover , .login .login-box button:hover {
  background-color: #45a049;
}

.register .register-box .get-login , .login .login-box .get-register{
  margin: 0.5rem 0;
}

.register .get-login a , .login .get-register a{
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register .get-login a:hover  , .login .get-register a:hover{
  color: #0056b3;
}

 
.register .register-box .google p , .login .login-box .google p{
  text-align: center;
  margin: 0.5rem 0;
}


.register .google button , .login .google button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #db4a39;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register .google button:hover , .login .google button:hover {
  background-color: #c53728;
}

.register .google span , .login .google span  {
  margin-right: 5px;
}

