@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}


/* Header */


header{
  height: 10vh;
    display: flex;
    justify-content: space-between;   
    padding: 0 3rem ;
    align-items: center;
}

header ul{
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li{
  margin: 0 8px ;
  position: relative;
}

header ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: 0.5s ease;
  font-weight: 600;
}

header ul li a:hover{
  color: rgb(29 136 237);
}


header .login-done h1 {
  color: black;
}

header .log-out {
  display: flex;
}

header .log-in {
  display: flex;
  justify-content: center;
}

header .log-in button a {
  text-decoration: none;
  color: white;
}





header .log-in button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

header button a{
  display: flex;
  justify-content: center;
  align-items: center;
}

header button a svg{
  margin-left: 5px;
}

header .log-in a button:hover {
  background-color: #555;
}



header .log-out {
  display: flex;
  align-items: center;
}

header .log-out h1 {
  margin-right: 10px;
}

header .log-out button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .log-out svg{
  margin-left: 5px;
}

header .log-out h1{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header .log-out h1 svg{
  font-size: 2rem;
  margin-right: 5px;
} */

header .log-out button:hover {
  background-color: #555;
}


header .logo img {
  width: 10%;
}



/* Home */


.homepage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 8rem;
}

.homepage .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
}


.homepage .home h1 {
  font-size: 3.2rem;
  margin: 1rem 0;
  color: #13287e;
  text-align: start;
  width: 70%;
}



.homepage .home p {
  font-size: 1.2rem;
  color: black;
  margin: 1rem 0;
  text-align: justify;
  width: 90%;
}

.homepage button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  width: 25%;
  margin: 3rem auto;

}

.homepage button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.homepage button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}




.homepage button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}



@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.homepage .home button a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.homepage .images {
  background-image: url("./images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* register */



.register , .login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top:  5rem;
}

.register .register-box , .login .login-box {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register .register-box .get-login p , .login .login-box .get-register p{
  font-size: 1.5rem;
  font-weight: 500;
}

.error-fill{
  color: red;
  margin: 5px 0;
}

.register .register-box form , .login .login-box form {
  display: flex;
  flex-direction: column;
}

.register .register-box input , .login .login-box input {
  padding: 10px;
  margin-bottom: 10px;
}

.register .register-box button , .login .login-box button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.register .register-box button:hover , .login .login-box button:hover {
  background-color: #45a049;
}

.register .register-box .get-login , .login .login-box .get-register{
  margin: 0.5rem 0;
}

.register .get-login a , .login .get-register a{
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register .get-login a:hover  , .login .get-register a:hover{
  color: #0056b3;
}

 
.register .register-box .google p , .login .login-box .google p{
  text-align: center;
  margin: 0.5rem 0;
}


.register .google button , .login .google button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #db4a39;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register .google button:hover , .login .google button:hover {
  background-color: #c53728;
}

.register .google span , .login .google span  {
  margin-right: 5px;
}


/* Features */

.features{
  padding: 1rem 0 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}

.features .title h1{
  font-size: 2.5rem;
  text-align: center;
}
.features .title p{
 text-align: center;
 font-size: 1.5rem;
 margin-top: 0.5rem;
 color: #5a5c5e;
}
.features .feature{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features .feature .feature-box{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1rem;
}

.feature-box .image{
    width: 20%;
}
.feature-box .box-text{
  width: 75%;
}
.feature-box .box-text p{
  width: 75%;
  margin-top: 5px;
}

.feature-box .image img{
  width: 100%;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.popup p {
  margin-bottom: 10px;
  text-align: end;
}

.popup button {
  padding: 8px 16px;
}

/* Resume */

.resume {
  display: flex;
  position: relative;
  height: 90vh;
}

.resume .section-1 {
  position: fixed;
  top: 10vh;
  left: 0;
  max-height: 90vh;
  overflow-y: auto;
  width: 35%;
  padding: 10px;
  background-color: #9376e0;
}
.resume .section-1::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

.resume .section-1::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the track */
}

.resume .section-1::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the thumb */
}

.resume .section-1 h2 {
  margin-top: 0;
}

.resume .section-1 p {
  margin-bottom: 10px;
}

.resume .section-1 img {
  max-width: 100%;
  margin-bottom: 20px;
}

.resume .section-2 {
  position: fixed;
  top: 10vh;
  left: 35%;
  min-height: 90vh;
  overflow-y: auto;
  width: 65%;
  padding: 20px 4rem;
  background-color: rgba(238 , 240 , 244 , 1);

}

.resume .section-2 h2 {
  margin-top: 0;
}

.resume .section-2 img {
  max-width: 100%;
  margin-bottom: 20px;
}


/* Details */

.details {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.info {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 5px 0;
}

.info h1 {
  font-size: 24px;
  color: #333;
  font-size: 18px;
  height: 35px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease;
}

.active{
  background-color: #5a8dee;
  color: white !important;
}





.form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-top: 10px;
}



.form.show {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
 
}

.form.show form , .form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea{
  width: 95%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.details input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.info h2:hover {
  text-decoration: underline;
}




/* Template */

.template-1{
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  border:  1px solid black;
}

.template-1 .name h2{
  margin-top: 5px;
}

.template-1 .contact{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.template-1 .contact p{
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-1 .contact p svg{
  margin-right: 5px;
 font-size: 1rem;
}







/* Customize */

.customize h4{
  margin:  10px 0;
  padding: 0 10px   ;
}

.customize h4 span{
  text-align: center;
    display: block;
    color: blue;
}

.align .title{
  margin-top: 5px;
}

.align ul{
  display: flex;
  list-style: none;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.align ul li{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}

input[type='color'] {
  cursor: pointer;
}

.customize h5{
  margin:  10px 0;
}

.header ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
}

.header .text-align li{
  margin:  0 10px;
  height: 30px;
  width: 100px;
  border:  1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .text-align li:first-of-type{
  justify-content: start;
  padding: 0 5px;
}
.header .text-align li:nth-of-type(2){
  justify-content: center;
}
.header .text-align li:nth-of-type(3){
  justify-content: end;
  padding: 0 5px;
}

.header ul:nth-of-type(2) li{
  margin: 5px 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header ul:nth-of-type(3) li{
  width: auto;
  height: auto;
  display: flex;
  padding: 5px;
  justify-content: center;
  margin:  0 10px;  
  border:  1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* styles.css */

.switch-info {
  display: flex;
  justify-content: space-between;
}

.switch-info button {
  padding: 8px 16px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.header {
  margin-top: 16px;
}

.header-name,
.header-title {
  display: none;
}

.header-name ul,
.header-title ul {
  list-style-type: none;
  padding: 0;
}

.header-name ul li,
.header-title ul li {
  cursor: pointer;
}

.header-name h4,
.header-title h4 {
  margin-bottom: 16px;
}

.header-name h5,
.header-title h5 {
  margin-top: 16px;
}

.header-name input[type="range"],
.header-title input[type="range"] {
  width: 100%;
}

/* Add more CSS rules as needed for other elements */
/* styles.css */

.switch-info {
  display: flex;
  justify-content: space-around;
}

.switch-info button {
  padding: 8px 16px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
}

.button-select {
  color: red !important;
}

.switch-info button:hover {
  background-color: #ccc;
  color: #fff;
}


.header-name,
.header-title {
  display: none;
}

.header-name ul,
.header-title ul {
  list-style-type: none;
  padding: 0;
}

.header-name ul li,
.header-title ul li {
  cursor: pointer;
}

.header-name h4,
.header-title h4 {
  margin-bottom: 16px;
}

.header-name h5,
.header-title h5 {
  margin-top: 16px;
}
input[type="range"],
input[type="range"] {
  width: 100%;
}

